{% extends 'base.html.twig' %}

{% block title %}Welcome to my Symfony blog{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello, here is a list of intersting blog posts!</h1>
    <button class="btn btn-primary">bootstrap test button</button>
</div>
{% endblock %}
